body {
  background-color: black;
}

button {
  background-color: green;
  color: yellow;
}

.card-color1 {
  background-color: white;
}

.card-color2{
  background-color: gray;
}

.resultc{
  display: none;
}

.resultjava{
  display: none;
}

.resultruby{
  display: none;
}

.resultdesign{
  display: none;
}

.resultphp{
  display: none;
}
